html {
    background-color: #1c3334;
    background-size: 30%;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.15em;
}

a {
    text-decoration: none;
    color: rgb(235, 216, 53);
}

a:hover {
    background-color: rgb(235, 216, 53);
    color: black;
}

.content {
    display: block;
    padding: 40px;
    background-color: #1c3334;
    max-width: 985px;
    margin: 0 auto;

}

#my-pic {
    max-width: 300px;
    width: 100%;
}

header, footer {
    padding: 30px;
    text-align: left;
    color: white;
    background-color: #2f4454;
    border: 3px double white;
}

header h1 {
    font-size: 1.5rem;
    margin-left: 0.15rem;
    font-family: 'Merriweather', serif;
    overflow: hidden;
}

h2 {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

footer {
    text-align: center;
}

footer a {
    color:rgb(255, 235, 53);
}

.date {
    color: #c6ec04;
    font-size: 0.9em;
}

.link-list li{
    margin-bottom: 5px;
}



