html {
    background-color: #2e151b;
    background-size: 30%;
    font-family: 'Poppins', sans-serif;
    color: white;
  }

a {
    text-decoration: none;
    color: rgb(235, 216, 53);
}

a:hover {
    background-color: #be1c44;
    color: black;
}

.content {
    display: grid;
    padding: 40px;
    background-color: #1c3334;
    max-width: 985px;
    margin: 0 auto;
}

#myPic {
    max-width: 300px;
    width: 100%;
    float: right;
    border: 5px solid white;
    margin-right: 25px;
}

header {
    text-align: center;
    font-size: 150%;
    padding: 30px;
    color: white;
    background-color: #2f4454;
    border: 5px double white;
    border-radius: 15px;
}

footer {
    text-align: center;
    padding: 30px;
    color: white;
    background-color: #2f4454;
    border: 5px double white;
    border-radius: 15px;
}

footer a {
    color:rgb(255, 235, 53);
}

.date {
    color: #ffa2b9;
}

@media (max-width: 740px) {
    .content {
        display: block;
    }
    
    #myPic {
        float: none;
    }
}