/* Basic Elements */
html {
    background-color: #457B9D;
    font-size: 120%;
}



h1, h2, h3, h4 {
    color: #F1FAEE;
    background-color: #1D3557;
    font-family: 'Frank Ruhl Libre', serif;
    padding: 20px;
    text-align: center;

}

h1 {
    font-family: 'B612', sans-serif;
    text-align: center;

}

ul {
    list-style-type: none;
}

p {
    color: #1D3557;
    background-color: #A8DADC;
    font-family: 'Oxygen', sans-serif ;
    padding: 20px;
    margin: 0;
}

a {
    text-decoration: none;
    font-family: 'Oxygen', sans-serif ;
    background-color: #F1FAEE;
    color: #A31420;
}

a:hover {
    color: #F1FAEE;
    background-color: #A31420;
}


section h3 {
    margin: 0px;
}

section p {
    margin-top: 0px;
}

body {
    max-width: 1500px;
    margin: 0 auto
}


img {
    width: 50%;
}




/* Header */

header, footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #1D3557;

}

.icons {
    display: block;
    margin: auto;
    width: 50%;
}

.title, header, footer {
    border: 1px solid #F1FAEE;
    margin: 10px 20px;
}

/* Navigation */



.navigation {
    display: flex;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
    text-align: center;
    margin: 0px 20px;
    border-radius: 10px;
}

.navigation li:first-child {
    border-radius: 20px;
    width:100%

}

.navigation li:first-child a {
    border-radius: 20px;
}

.navigation li:nth-child(2), .navigation li:nth-child(3), .navigation li:nth-child(4), .navigation li:nth-child(5), .navigation li:nth-child(6) {
    display: none
}



.navigation li:last-child, .navigation li:last-child a {
    border-radius: 0px 10px 10px 0px;
}

.navigation li {
    display: block;
    flex: 1 1 100%;
    border: 2px solid white;

}
.navigation li a {
    color: #F1FAEE;
    background-color: #A31420;
    display: block;
	font-size: 125%;
    padding: 20px;
}

.navigation li a:hover {
    color: #A31420;
    background-color: #F1FAEE;
}

.navigation .current-page{
    border: 2px solid #A31420;
}

.navigation .current-page a{
    color: #A31420;
    background-color: #F1FAEE;
}

.responsive li:nth-child(2), .responsive li:nth-child(3), .responsive li:nth-child(4), .responsive li:nth-child(5), .responsive li:nth-child(6) {
    display: block;
}

.responsive li:nth-child(1), .responsive li:nth-child(1) a {
    border-radius: 10px 0px 0px 10px;
}


/* Main */
main {
    padding: 40px;
}

.title {
    text-align: center;
    border-radius: 20px;
    font-size: 200%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Home Page */

#alertBox {
    display:grid;
    grid-template-columns: 1fr;
    border: 5px solid #A31420;
    background-color: #A8DADC;
}


#alertBox a {
    color: white;
    background-color: #A31420;
    grid-area: 1/1/2/2;
    width: 40px;
    height: 40px;
    text-align: center;
    margin: 0px 0px -25px auto;
    z-index: 1;
    font-size: xx-large;
    border: 1px double;
}

#alertBox a:hover {
    color: #A31420;
    background-color: #F1FAEE;
}

#alertBox h2 {
    grid-area: 1/1/2/2;
}

#alertBox p {
    margin: 0px auto 0px auto
}

.alert {
    text-align: center;
    padding: 20px;
    margin: 0px 0px 0px 0px;

}

.home-content {
    display: grid;
    grid-template-columns: 35% 1fr;
    grid-gap: 40px;
    padding: 40px;
}

.action-div {
    display: grid;
    grid-template-columns: 1fr;
    width: 99%;

}

#action-img {
    grid-area: 1/1/2/2;
    width: 99%;
}

.action {
    color: #F1FAEE;
    background-color: #A31420;
    grid-area: 1/1/2/2;
    margin: 10px auto auto;
    font-size: xx-large;
    padding: 15px;
    border: 2px solid #F1FAEE;
    border-radius: 20px;
}

.action:hover {
    color: #A31420;
    background-color: #F1FAEE;
}

.city-img, .city-page-img {
    width: 99%;
    margin: 0px auto;
    border: 5px solid white;
    border-radius: 20px;
}

.main-sections {
    margin-bottom: 5em;
}

.main-sections h3 {
    border: 5px double #A31420;
    border-radius: 10px 10px 0 0 ;

}

.main-sections p {
    border: 2px solid #A31420;
}

.main-sections p:last-child {
    border-radius: 0 0 10px 10px;
}

.main-sections div.weather-div p{
    border-radius: 0 0 0 10px;
}

.main-sections div.weather-div2 p {
    border-radius: 0 0 10px 0;
}

#weather-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: unset;
    margin-top: 4.5em;

}

#weather-summary h3 {
    grid-column: span 2;

}

#weather-summary h4 {
    margin: 0;
    border-left: 2px solid #A31420;
    border-right: 2px solid #A31420;
}

#weather-summary p {
    border: 2px solid #A31420;

}

#home-img-3 {
    margin-top: 4.5em;
}

.summary {
    grid-column: 1/2;
}

.forecast {
    grid-area: 2/2/3/3
}

/* Boston City Page */

.hero-img img {
    width: 98%;
    margin: 20px auto;
    border: 2px solid #F1FAEE;
    border-radius: 20px;

}

.city-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

.city-page-img {
    grid-area: 1/1/3/2;
}

#city-history {
    grid-column: span 2;
}



/* Join Page */

form fieldset {
    border: 5px double #A31420;
    margin: 20px 15%;
    border-radius: 5px;
}

legend {
    margin: 0 auto;
}

legend h3 {
    padding: 20px 60px;
    border: 1px solid white;
    border-radius: 5px;
}

form {
    display: block;
    margin: 0 auto 0 0;

}

.form-container {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

label {
    display: block;
    margin: 20px auto 0px auto;
    font-family: 'Oxygen', sans-serif ;
    color: white;
    background-color: #1D3557;
    border-radius: 10px;
    padding: 5px 0px .1px 5px;
    font-family: 'Oxygen, sans-serif';
    width: 95%;

}

form label.form-ele input, form label.form-area textarea {
    min-height: 44px;
    width: 95%;
    display: block;
    margin: 10px auto 40px auto;
    color: #1D3557;
    background-color: #A8DADC;


}

form label.form-ele input:required {
    color:  #A31420;
    background-color: white;

}

form label.form-ele input:required:invalid {
    color: black;
    background-color: lightcoral;

}

form label.form-ele input:required:valid {
    color: white;
    background-color: #315E31;

}

form label.radio {
    padding: 10px;
}

.input-guide {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

hr {
    border: 3px double #A31420;
}

.red-box {
    width: 125px;
    height: 50px;
    background-color: lightcoral;
    border: 2px solid #1D3557;
    padding: 10px;
    margin: 0 auto;

}

.green-box {
    width: 125px;
    height: 50px;
    background-color: #315E31;
    color: white;
    border: 2px solid #1D3557;
    padding: 10px;
    margin: 0 auto;

}

.req-field {
    color: white;
    background-color: #1D3557;
    width: 125px;
    height: 50px;
    border: 2px solid #1D3557;
    padding: 10px;
    margin: 0 auto;

}

.cyan-box {
    color: #1D3557;
    background-color: #A8DADC;
    width: 125px;
    height: 50px;
    border: 2px solid #1D3557;
    padding: 10px;
    margin: 0 auto;

}

#m-level {
    font-family: 'Oxygen, sans-serif';
}

form input.submitBtn {
    display: block;
    margin: 20px auto;
    padding: 20px 100px;
    background-color: #A31420;
    color: #F1FAEE;
    border: 3px double #F1FAEE; 
    border-radius: 20px;  
    font-size: x-large; 
}

form input.submitBtn:hover {
    background-color: #F1FAEE;
    color: #A31420;
}

/* Directory Page */

.toggle-card  {
    text-align: center;
    margin-left: auto;
    font-size: 200%;
    padding: 10px
}

.toggle-card a {
    padding: 10px 20px;
    border-radius: 20px;

}

.toggle-grid {
    display: grid;
    grid-template-columns: 15% 10% 10%;
    margin-bottom: 40px;
}

.toggle-grid h4 {
    margin: 0;
    padding: 10px
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.single {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
}

.single .business-img-div img{
    max-height: 224px;
    width: 37%;
}

.single .business-img-div {
    text-align: center;

}

.business-cards {
    border: 2px solid white;
    border-radius: 20px;
    width: 75%;
    margin: 0 auto;
    background-color: #1D3557

}

.business-cards h2 {
    height: 75px;
    margin: 0;
    border-radius: 20px 20px 0px 0;
}

.business-cards p {
    text-align: center;
}

.business-cards a {
    display: block;
    text-align: center;
    margin: 10px auto;
    padding: 10px 70px;
}

.business-cards img {
    margin: 0 auto;
    width: 99%;
}

.business-img-div {
    height: 50%;
    margin: 10px 0 0;
}

/* Contact */

.google {
    display: block;
    margin: 20px auto;
    border-radius: 20px;
    width: 85%;
}

.directors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.main-sections div.directors p:first-child {
    border-radius: 0 0 0 10px;
}

.main-sections div.directors p:last-child {
    border-radius: 0 0 10px 0;
}

/* Footer */

footer {
    grid-template-columns: 1fr 1fr 1fr;
}

.span-2 {
    grid-column: span 2;
    border-radius: 10px;
}

.purpose-h3 {
    grid-column: 2/3;
}

.purpose-p {
    grid-area: 4/1/5/4;
    border-radius: 10px;
}

.social-div {
    margin: 10px 0;
}

a.social {
    color: transparent;
    background-color: transparent;
}
a.social img {
    width: 8%;

}

a.social img:hover {
    border: 1px solid red
}