/*----------- BODY --------------*/
.content {
    max-width: none;
    border: none;
    padding: 0px;
}

/*----------- HEADER --------------*/
header {
    padding: 0px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.heading {
    text-align: left;
}

.icon {
    width: 20%;
}

.motto {
    font-size: 100%;
}

.fri-msg {
    background-color: #1c3334;
    color:#c6ec04;
    margin: 0;
    padding: 20px;
    font-size: x-large;
}


/*----------- NAVIGATION --------------*/

nav {
	background-color: rgb(41, 41, 41);
	text-align: center;
	box-shadow: 3px 3px 5px gray;
    margin-top: 5px;
    overflow: auto;
}
.navigation {
    display: flex;
	list-style-type: none;
	padding: 0;
	overflow: hidden;
    text-align: center;
    margin: 0px;
    
}

.navigation li:first-child {
    display: none;
}

.navigation li {
    display: block;
    flex: 1 1 100%;

}
.navigation li a {
    display: block;
	font-size: 100%;
    padding: 20px;
}

.current-page a {
    background-color: rgb(235, 216, 53);
    color: rgb(41, 41, 41);
}

/*----------- MAIN --------------*/

main {
    max-width: 985px;
    padding: 40px;
    margin: 0 auto;
}

/*----------- Main - Preston Town Page --------------*/

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hero h3 {
    font-size: 200%;
    grid-column: 1/3;
    grid-row: 1/2;
}

.hero-img {
    width: 100%;
    grid-column: 1/3;
    grid-row: 2/3;
}

.hero-img img {
    width: 99%;
}

.hero-txt {
    color: white;
    background-color: rgba(41, 41, 41, 0.829);
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 20px;
    padding: 20px;
    height: fit-content;
    width: fit-content;
    z-index: 1;
}

.hero-txt p {
    margin: 10px;
}
  
.forecast {
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
}

.forecast-img {
    width: 10%;
    padding: 20px;
    padding-right: 8%;
}

.forecast-img5 {
    width: 10%;
    padding: 20px;
}

th, td {
    padding: 5px;
    text-align: center;
}

.sun-icon {
    width: 50%;
}

.article {
    background-color: rgb(41, 41, 41);
    margin-top: 20px;
    border-radius: 15px;
}

.article p {
    padding: 20px;
}

.article-img1 {
    width: 30%;
    float: right;
    padding: 20px;
}

.article-img2 {
    width: 0%;
}

input {
    display: none;
}

/*----------- Main - Gallery --------------*/

.gallery {
    background-color: rgb(41, 41, 41);
    display: block;
    border: 2px solid white;
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
}

.gallery picture img{
    width: 90%;
}

img[data-src] {
	filter: blur(0.2em);
}

img {
	filter: blur(0em);
	transition: filter 0.5s;
}

.pic-shadow:hover {
    -webkit-box-shadow: 0 0 10px #c6ec04;
    box-shadow: 0 0 10px #c6ec04;
}

/*----------- Main - Storm Center --------------*/



input {
    display:unset;
}

form fieldset {
    margin: 2rem 0;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #2f4454;
}

form legend {
    color: white;
    margin: 0 1rem;
    padding-top: 50px;
}

form label.top, form div {
    text-align: left;
    display: block;
    padding-top: 2.5rem;
    color: white;
    font-size: 1.25rem;
}

form label.top input, form label.top select, form label.top textarea {
    display: block;
    font-size: 1rem;
    border: solid 2px #999;
    border-radius: 4px;
    padding: .75rem;
    width: 100%;
    max-width: 20rem;
    background-color: rgb(41, 41, 41);
    color: white;
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    text-align: left;
    
}

form input.submitBtn {
    border: none;
    background-color: rgb(235, 216, 53);
    color: rgb(41, 41, 41);
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 20px 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form input.submitBtn:hover {
    background-color: rgb(41, 41, 41);
    color: rgb(235, 216, 53);
    border: 1px solid white;
    
}

form label.top input:required {
    border-left: red solid 3px;
    border-top: red solid 3px;
    border-bottom: red solid 3px;
    border-right: red solid 3px;

}

form label.top input:required:valid {
    border-left: #c6ec04 solid 4px;
    border-top: #c6ec04 solid 4px;
    border-bottom: #c6ec04 solid 4px;
    border-right: #c6ec04 solid 4px;
}

::placeholder {
    color: rgba(255, 255, 255, 0.541)
}


.form-container {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

/*----------- Main - Home Page --------------*/

.town-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    
}

.town-cards section, .events {
    background-color: rgb(41, 41, 41);  
    border: 1px solid white;
    border-radius: 15px;

}

.town-cards section h3, .events h3 {
    margin-top: 0px;
}

.town-cards section p, .town-cards section h4 {
    text-align: center;
}

section.town-card0 {
    order: 2;
}

section.town-card2 {
    order: 3;
}

section.town-card6 {
    order: 1;
}

.town-cards section img {
    display: block;
    margin: auto;
    width: 90%;
}

.town-cards section h4 {
    height: 5%;
}

.events {
    margin-top: 40px;
}

.event {
    margin-top: 40px;
    margin-left: 20px;
}

.event h4 {
    margin-bottom: 0px;
}

.event p {
    margin-top: 0px;
}


/*----------- FOOTER --------------*/

footer {
    max-width: 985px;
    margin: 0 auto;
}

.map-img1 {
    width: 60%;
    float: left;
    padding: 20px;
}

.map-img2 {
    width: 0%;
}

.contact-info {
    padding-left: 0px;
}

.contact-info li {
    list-style: none;
    text-align: center;
}

.social-img {
    width: 10%;
}

.date {
    font-size: 1.2rem;
}

.social:hover {
    background-color: #1c3334;
}

.final-text {
    padding-top: 5%;
}

