@media only screen and (max-width: 640px) {
    header{ 
        display: block;
    }
    header h2, header h1 {
        text-align: center;
    }

    .icon {
        width: 50%;
    }

    .navigation {
        display: block;
    }

    .navigation li:first-child {
        display: block;
    }

    .navigation li {
        display: none;
        padding: 5px;
    }


    .navigation li a {
        display: block;
        text-align: center;
        padding-bottom: 15px;
        padding-top: 15px;
    
    }

    .responsive li {
        display: block;
    }

    .forecast {
        display:none;
    }

    .gallery {
        grid-template-columns: 1fr;
        align-content: center;
    }

    .gallery picture img, .gallery p {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    .town-cards section {
        grid-template-columns: 1fr;
    }

    .town-cards section img, .town-cards section p, .town-cards section h4, .town-cards section h3 {
        grid-column: 1/2;
    }

    .town-card6 img, .town-card2 img, .town-card0 img{
        grid-row: 6/7;
    }
    
    form input.submitBtn {
        font-size: 50%;
    }

}